mark {
    background-color: blue;
    color: yellow;
}

ul {
    color: grey;
}

 .cars {
    color: turquoise;
}

#my_id{
    color: blue;
}
.ww1 {
    color:tomato;
}
.tee {
    color: burlywood;
}