.wrapper{
    width: 350px;
    /* border: 1px solid #000; */
    margin-left:35% ;
    margin-top: 100px;
}

h1{
    text-align: center;
    font-weight: 200;
}

.ipt{
    width: 91%;
    height: 30px;
    font-size: 18px;
    padding: 10px 10px;
}

.btn{
    margin-top: 15px;
    background-color: #5a2fdd;
    color: #fff;
    border: none;
    width: 100%;
    height: 50px;    
}

.d2{
    margin-top: 45px;
}

span{
    color: blue;
}

p{
    text-align: center;
    line-height: 2px;
}
/* .d2{ 
     color: blue; 
} */
